* {
    border: none;
    outline: none;
    user-select: none;
    list-style: none;
}


body {
    font-family: Georgia, sans-serif;
    font-size: larger;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff
}


header {
    font-family: 'Times New Roman', Times, serif;
    background-color: #dfc2daa9;
    color: #503b1f;
    padding: 1rem;
   
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    color: #503b1f;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #555;
}

main {
    color: black;
	font: x-large bold Arial, Helvetica, sans-serif;
	grid-area: main;
	display: flex; 
	background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
}


footer {
    background-color:  #dfc2daa9;
    color: black;
    text-align: center ;
    padding: 1rem;

}


img {
    float: left;  
    width: 140px;
    padding: 10px;

}

a {
	font-size: medium;
	color: white;
	text-decoration: none;
}


.espacinho{
	padding: 200px;
	font-size: 100%;
	
}




.logod{
    width: 150px; 
	height: 150px;
	padding: 10px;
	margin-top: 5px;
}


.redes-sociais {
    margin:0 10px;  /* Espaçamento entre o conteúdo e os links de redes sociais */
    color: black;
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
}


.redes-sociais img {
    width: 30px; /* Ajuste o tamanho do logo conforme necessário */
    height: auto;
    
}
.redes-sociais a {
    margin: 0 10px; /* Espaçamento entre o conteúdo e os links de redes sociais */
    color: black;
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
}

.contato a {
    color:black;
    font-size: 110%;
    margin-top: 3px; 
}

.contato img {
    width: 30px; /* Ajuste o tamanho do logo conforme necessário */
    height: center;
    padding: 30px;
    margin-top: 3px;
}


.pagamento{

	font-size: 30px;
	
}

:root {     
    --cor-primaria:rgb(240, 157, 220)0; ;
    --cor-secundaria: #2a2f43ea;
    --cor-fundo: #f7d9f0;
}


.carrinho {
    width: 600px;
    height: min-content;
    background: var(--cor-fundo);
    padding: 45px;
}


.carrinho .cabecalho-carrinho {
    display: flex;
	color: black;
	
}


.carrinho .cabecalho-carrinho button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 10%;
    color: black;
    background: var(--cor-primaria);
    border: 2px solid #ddddde;
    border-radius: 8px;
    
	
}


.carrinho .cabecalho-carrinho button:hover {
    color: #f5f5f5;
    background: black;
    border-color:b;
	

}
.carrinho .cabecalho-carrinho h3 {
    margin: auto;
    text-align: center;
    font: 400 1.25rem 'Poppins';
    color: var(--cor-primaria);
    
}

.carrinho .carrinho-item {
    position: relative;
    display: flex;
    width: 90%;
    margin: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px #2a2f430f;
	justify-content: center;

}


.carrinho .carrinho-item .imagem {
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	

.carrinho .carrinho-item .img {
	   width: 90%; 
}


.carrinho .carrinho-item .info {
	width: 70%;
	padding: 14px;
}
	

.carrinho .carrinho-item h4 {
	color: black;
	font: 700 1.25rem 'Poppins';  
}
	

.carrinho .carrinho-item .detalhes {
	display: flex;
	gap: 10px; 
}
	

.carrinho .carrinho-item .detalhes i {
	color: #2a2f43d2;
	font-size: 1.0625rem;
	transform: translateY(3px);
}


.carrinho .carrinho-item .detalhes span {
    font: 600 0.75rem 'Poppins';
    color: #2a204399;
}


.carrinho .carrinho-item .preco {
    color: var(--cor-secundaria);
    font: 700 1.25rem 'Poppins';
    margin-top: 8px;
}


.carrinho .carrinho-item .contador {
    position: absolute;
    right: 15px;
    bottom: 0;
}


.carrinho .carrinho-item .contador i {
    cursor: pointer;
    width: 25px;
    height: 35px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    background: var(--cor-primaria);
    color: #fff; 
    border-radius: 8px 8px 0 0;
}


.carrinho .carrinho-item .contador span {
    margin:  0 6px;
    font: 700 1rem 'Poppins';
    color: var(--cor-secundaria);

}


.carrinho .pagar {
    font: 500 1rem 'Poppins';
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0;
    color: #fff;
    background: var(--cor-primaria);
    border-radius: 8px;
    
}

.carrinho .pagar:hover {
    background: #2a2f43f1;
}


.imgcarro{

	width: 120px;
	height: 120px;
}


.tt{
	color: black;
}